<div [ngSwitch]="field.type">
  <mat-form-field appearance="outline" *ngSwitchCase="'text'">
    <mat-label>{{field.label}}</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      [(ngModel)]="field.value"
      
    />
  </mat-form-field>

  <mat-form-field appearance="outline" *ngSwitchCase="'select'">
    <mat-label>{{field.label}}</mat-label>
    <mat-select [(ngModel)]="field.value" >
      <mat-option *ngFor="let option of field.options" [value]="option.value">
        {{option.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle
    *ngSwitchCase="'boolean'"
    [(ngModel)]="field.value"
   
    >{{field.label}}</mat-slide-toggle
  >

  <p *ngSwitchDefault>
    Formulário inválido
  </p>
</div>
